<!doctype html>
<html>
   <body>
      <p>inventory</p>
      <table border = 1>
         <thead>
            <td>id</td>
            <td>name</td>
            <td>quantity</td>
         </thead>
         
         {% for row in result %}
            <tr>
               <td>{{row["id"]}}</td>
               <td>{{row["name"]}}</td>
               <td> {{ row["quantity"]}}</td>
            </tr>
         {% endfor %}
      </table>
      
      <a href = "/mysql">回Mysql頁</a>
      
   </body>
</html>