<!DOCTYPE html>
<head>
   <title>RPi GPIO Demo</title>
</head>
<body>
   <h3>LED1燈控制</h3>
   <ul>
      <li><a href="/led/on">On</a></li>      <!-- 超連結href="到/led/on">網頁顯示On的名稱-->
      <li><a href="/led/off">Off</a></li>    <!-- 超連結href="到/led/off">網頁顯示off的名稱-->
   <h3>LED2燈控制</h3>
   <li><a href="/led/on">On</a></li>      <!-- 超連結href="到/led/on">網頁顯示On的名稱-->
   <li><a href="/led/off">Off</a></li>

   <h3>LED3燈控制</h3>
   <li><a href="/led/on">On</a></li>      <!-- 超連結href="到/led/on">網頁顯示On的名稱-->
   <li><a href="/led/off">Off</a></li>

</body>
</html>